* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  color: #444;
}


a {
  text-decoration: none;
  color: #444;
  transition: .4s;
}

a:hover {
  color: #046481;
}

/* FORM */

form {
  width: 450px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.form-group label {
  margin-bottom: .4em;
  font-size: .9em;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  padding: 0.6em;
  color: #777;
  font-size: 0.8em;
}

button[type="submit"] {
  background-color: #efefef;
  border: 2px solid transparent;
  padding: 0.6em 1em;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.4s;
}

button[type="submit"]:hover {
  background-color: transparent;
  border-color: #046481;
  color: #046481;
}

