nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #777;
}

.brand, .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  width: 40px;
  margin-right: 0.6em;
}

.brand h2 {
  transition: .4s;
}

.brand:hover >  h2 {
  color: #00bcd4;
}

.links li {
  margin-right: 1em;
  list-style: none;
}


.links a {
  padding: 0.5em;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.links a:hover {
  background-color: #e0e0e0;
}
