footer {
  border-top: 1px solid #00bcd4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

footer h3 {
  margin-bottom: 1.2em;
}

footer p {
  font-weight: bold;
}

footer span {
  color: #00bcd4;
}
