.moment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1em;
}

img {
  max-width: 500px;
  margin-bottom: 0 auto 1em;
}

.about-moment, .actions {
  border-bottom: 1px solid #ccc;
  padding: 1.2em;
  width: 100%;
}

.actions {
  background-color: #eee;
}

.comments {
  margin-bottom: 1em;
  padding: 1.5em 0;
  width: 100%;
}

.about-moment h3, .actions h3, .comments h3 {
  margin-bottom: 1em;
}

.comment-container {
  text-align: left;
  border-bottom: 1px solid #EFEFEF;
  padding: 1em 0;
}

.comment {
  font-size: .9em;
}

.author {
  font-size: .8em;
}

input[type="submit"] {
  background-color: #efefef;
  border: 2px solid transparent;
  padding: 0.6em 1em;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 1em;
}

input[type="submit"]:hover {
  background-color: transparent;
  border-color: #046481;
  color: #046481;
}

.comment-form {
  margin-bottom: 3em;
}

.comment-form form {
  margin-top: 1em;
  text-align: left;
  max-width: 300px;
  margin-left: 0;
}

.author span {
  font-weight: bold;
}
 

.validation-error {
  border-left: 3px solid #dc3545;
  margin-top: .4em;
  padding-left: .2em;
}

