<div class="moment" >
  <h1>{{ moment?.title }}</h1>
  <img 
  [src]="baseApiUrl + 'uploads/' + moment?.image + '?t=' + (cacheBuster || 0)"
  alt="{{ moment?.title }}" 
/>
  <div class="about-moment">
    <h3>About this moment:</h3>
    <p>{{ moment?.description }}</p>
  </div>
  <div class="actions">
    <a routerLink="/moments/edit/{{ moment?.id }}" class="edit-btn">
      <fa-icon [icon]="faEdit"></fa-icon> Edit
    </a>
    <button class="remove-btn" (click)="removeHandler(moment?.id!)">
      <fa-icon [icon]="faTimes" ></fa-icon> Remove
    </button>
  </div>
  <div class="coments">
    <p>coments</p>
  </div>
  
</div>
